
@{
	ViewData["Title"] = "AudioVideoTransfer";
}

<style>
    .custom-row {
        background-color: rgba(0,0,0,0.3);
        padding: 20px;
        margin-bottom: 30px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .page-section {
        background-image: url("../../img/content/otherservices/yellow-bokeh.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .default_header{
        margin-bottom:0px;
    }


    h5{
        font-weight:400;
    }
</style>




<header class="default_header"></header>

<div class="page-section">
    <div class="container-xl">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-white">TRANSFER AUDIO-VIDEO</h2>
            <h3 class="section-subheading text-white">
                "Transferăm în format digital momentele surprinse pe casete audio sau casete video pentru a le avea oricând aproape, accesându-le de pe calculatorul tău.
            </h3>
        </div>
    </div>


    <div class="container">
        <div class="row text-white custom-row" data-aos="fade-down" data-aos-duration="2000">
            <div class="col-lg-6 text-center">
                <div>
                    <img src="~/img/content/audiovideo/videotransfer.jpg" class="rounded-lg shadow-lg img-fluid"/>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div>
                    <h5 class="text-center" style="margin-top:20px">
                        Transferăm <b>casetele video</b> pe stick <b>USB/DVD/Link web pentru download.</b>
                    </h5>
                    <h5 class="text-center">
                        Deoarece casetele video se pot deteriora în timp, te putem ajuta să transferi amintirile salvate pe casetele video pentru a le viziona pe calculator.
                    </h5>
                    <h5 class="text-center">
                        Alt avantaj îl constituie posibilitatea derulării rapide a filmului și vizionarea acestuia fără un video.
                    </h5><br />
                    <h5><b>Prețuri:</b></h5>
                    <h5><b>USB / Link </b>- 20 RON / oră înregistrată</h5>
                    <h5><b>DVD personalizat </b>- 30 RON / oră înregistrată</h5>
                </div>
            </div>
        </div>
        <div class="row text-white custom-row" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-lg-6 text-center">
                <div>
                    <h5 style="margin-bottom:20px">
                        Putem transfera <b>casetele audio</b> în format <b>mp3</b> sau <b>Audio CD</b> pentru a le avea ușor la îndemână și pentru a derula rapid ori de câte ori ai nevoie direct pe calculatorul tau.
                    </h5><br />
                    <h5><b>Preț: </b>20 RON / oră înregistrată</h5>
                </div>
            </div>  
            <div class="col-lg-6">
                <div>
                    <img src="~/img/content/audiovideo/audiotransfer.jpg" class="rounded-lg shadow-lg img-fluid" />
                </div>
            </div>  
        </div>
    </div>
</div>


