@*@model IEnumerable<Magnet>*@

@{
    ViewData["Title"] = "Magnets";
}

<link rel="stylesheet" type="text/css" href="~/css/hexagons.css">


<header class="default_header"></header>


<div class="page-section">
    <div class="container-xl">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">MAGNEȚi</h2>
            <h3 class="section-subheading text-muted">
                "O amintire păstrată la îndemână pentru a fi resimțită și reimaginată ori de câte ori ai nevoie."
            </h3>
        </div>
    </div>

    <div class="container-fluid">
        <ul id="hexGrid" style="padding-left:0px">
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm8.staticflickr.com/7163/6822904141_50277565c3.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm4.staticflickr.com/3771/13199704015_72aa535bd7.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm8.staticflickr.com/7163/6822904141_50277565c3.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm4.staticflickr.com/3771/13199704015_72aa535bd7.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                        <h1>This is a title</h1>
                        <p>Some sample text about the article this hexagon leads to</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</div>









