@{
    ViewData["Title"] = "Privacy Policy";
}
    <header class="default_header"></header>

    <div class="container p-4" style="margin-bottom:60px;">
        <br />
        <h1>TERMENI SI CONDIȚII DE UTILIZARE WEBSITE</h1>

        <br /><br />
        <h2>1. Politica de Cookie/Cookie-uri</h2>
        <p>
            Prezenta secțiune referitoare la Cookies se aplică tuturor utilizatorilor acestui Site. Prin termenul „cookie”-uri ințelegem modulele cookie si tehnologiile similare prin intermediul cărora pot fi colectate informații în mod automat.
            <br><br>Cookie-urile sunt utilizate pentru a vă oferi o experiență mai bună de navigare și servicii adaptate nevoilor clienților: imbunătățirea navigării, inclusiv prin identificarea oricăror erori care apar în timpul vizitării/utilizării acesteia de către utilizatori.
            <br><br>Cookie-urile ne transmit informații cu privire la modul în care acest site este utilizat, astfel încat să existe posibilitatea imbunatățirii eficienței și accesibilității site-ului pentru utilizatori.
        </p>

        <p>
            Dezactivarea și refuzul de a primi cookie-uri pot face această pagină de internet dificil de vizitat, atragând după sine limitări ale posibilităților de utilizare ale acesteia.
            Utilizatorii își pot configura browserul să respingă fișierele cookie sau să fie acceptate cookie-uri de la o pagină de internet anume.
            Toate browserele moderne oferă posibilitatea de a schimba setările cookie-urilor. Aceste setări pot fi accesate, ca regula, în secțiunea <b>„opțiuni”</b> sau în meniul de „preferințe” al browserului tău.
            De asemenea, aveți posibilitatea să dezactivați fișierele cookie (cu excepția celor strict necesare pentru funcționarea acestei pagini de internet).
        </p>


        <br />
        <h2>2. Confidențialitate</h2>
        <p>
            Echipa noastră se obligă să protejeze confidențialitatea vizitatorilor, așadar niciun fel de informații cu caracter personal nu vor fi transmise către terți.
        </p>

        <p>
            Datele personale trimise de dumneavoastră prin intermediul formularului de contact din pagina de "Contact" a prezentului site vor fi folosite doar pentru a vă contacta înapoi, nu vor fi transmise niciunei alte terțe persoane și nici nu vor fi stocate în cadrul site-ului.
        </p>

        <p>
            Pe site-ul nostru <b>nu se stochează</b> niciun fel de informație de la utilizatorii acestuia.
        </p>


        <br />
        <h2>3. Garanții</h2>
        <p>
            Oferim o garanție de 30-90 zile calendaristice tuturor produselor comercializate.
        </p>
        <p>
            Garanția produselor o veți primi odată cu acestea.
        </p>
        <p>
            Garanția este valabilă doar în cazul în care produsele au fost depozitate corect/conform indicațiilor primite.
        </p>


        <br />
        <h2>4. Răspundere</h2>
        <p>
            Ne rezervăm dreptul de a actualiza și modifica periodic Termenii și Condițiile Site-ului pentru a reflecta orice modificări ale modului și condițiilor de funcționare a Site-ului sau orice modificări ale cerințelor legale.
        </p>


        <br />
        <h2>5. Forță majoră</h2>
        <p>
            Niciuna dintre părți nu va fi răspunzătoare pentru neexecutarea obligațiilor sale contractuale, dacă o astfel de neexecutare la termen și/sau în mod corespunzător, total sau parțial este datorată unui eveniment de forță majoră.
        </p>
        <p>
            <b>Forța majoră</b> reprezintă evenimentul imprevizibil, în afara controlului părților și care nu poate fi evitat.
        </p>



    </div>